 /*    Big tablet to  1200px (width smaller then the 1140px row     */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
        width:100%;
        padding: 0 2%;
     }

     .row { padding: 0 2%; }
}


/*    Small phones to Big tablet: from 768 to 1023px      */
@media only screen and (max-width: 1023px) {

    body { font-size: 18px; }
    section { padding: 60px 0; }

    .long-copy{
        width: 80%;
        margin-left: 10%;
    }

    .steps-box { margin-top: 10px; }
    .works-step { margin-bottom: 40px;}
    .steps-box:last-child { margin-top: 10px; }
    .works-step:last-of-type { margin-bottom: 60px;}

    .app-screen { width: 50%;}

    .btn-app img { 
        height: 45px;
        margin-right: 5px; 
    }

    .icon-small { 
        margin-right: 3px;
        width: 17px; 
    }
    .city-feature { font-size: 90%;}

    .plan-box { 
        margin-left: 0%;
        width: 100%;
    }

    .plan-price { font-size: 250%;}
    .plan-box li { font-size: 90% ;}

    .contact-form { width: 80%;}
}


/*    Small phones to Small tablets: from 481 to 767px      */
@media only screen and (max-width: 767px) {

    body { font-size: 16px;}
    section { padding: 30px 0;}

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col { 
        margin: 0 0 4% 0;
        width: 100%; 
    }

    .main-nav { display: none;}

    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav{
        float: left;
        margin-top: 35px;
        margin-left:25px;
    }
    
    .main-nav li{
        display:block;
        
    }
    
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        padding: 10px 0;
        border: 0;
        font-size:100%;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        padding: 10px 0;
    }
    
    .sticky .main-nav {
        margin-top: 10px;
    }

    .sticky .mobile-nav-icon { margin-top: 10px; }

    .sticky .mobile-nav-icon i{ color: #555; }

    h1{ font-size: 180%; }
    h2 { font-size: 150%; }

    .long-copy{
        width: 100%;
        margin-left: 0%;
    }

    .works-step { margin-bottom: 20px;}
    .works-step:last-of-type { margin-bottom: 20px;}

    .works-step div {
        border: 1.5px solid #e67e22;
        padding: 4px;
        height: 40px;
        width: 40px;
        margin-right: 15px;
        font-size: 120%;
    }    

    .steps-box:first-child{
        text-align: center;
    }

    .app-screen { width: 40%;}

    .plan-box li { font-size: 100% ;}

    .box img { width:80%; } 

    .social-links {
        float: left;
    }
    
    .btn-app img { 
        height: 40px;
        margin-right: 5px; 
    }

    .footer-nav li,
    .social-links li {
        margin-right: 10px;
    }

    h2:after{
        width: 100px;
        margin-top: 25px;
    }
}


/*    Small phones: from 0 to 480px      */
@media only screen and (max-width: 480px) {

    section { padding: 25px 0; }
    body { font-size: 14px; }

    .contact-form {
        width: 100%;
    }

    h1{ font-size: 150%; }
    h2 { font-size: 120%; }

    h2:after{
        width: 80px;
        margin-top: 20px;
    }

    .meals-showcase li { width: 50%; }

    .btn-app img { 
        height: 30px;
        margin-right: 5px; 
    }

    footer {
        padding: 40px;
    }

}

@media only screen and (max-width: 320px) {

    body { font-size: 12px; }
}